@import "tailwindcss";

@layer utilities {
    .shadow-neon-blue {
        box-shadow: 0 0 5px #00f7ff, 0 0 5px #00f7ff, 0 0 45px #00f7ff;
    }

    .shadow-neon-pink {
        box-shadow: 0 0 5px #ff00ff, 0 0 5px #ff00ff, 0 0 5px #ff00ff;
    }

    .shadow-neon-green {
        box-shadow: 0 0 5px #39ff14, 0 0 5px #39ff14, 0 0 5px #39ff14;
    }

    .shadow-neon-yellow {
        box-shadow: 0 0 5px #fffc00, 0 0 5px #fffc00, 0 0 5px #fffc00;
    }

    .shadow-neon-purple {
        box-shadow: 0 0 5px #9d00ff, 0 0 5px #9d00ff, 0 0 5px #9d00ff;
    }

    .shadow-neon-red {
        box-shadow: 0 0 5px #ff073a, 0 0 5px #ff073a, 0 0 5px #ff073a;
    }

    .shadow-neon-cyan {
        box-shadow: 0 0 5px #00ffff, 0 0 5px #00ffff, 0 0 5px #00ffff;
    }
}
